@model SindTech.App.ViewModels.ReclamacaoViewModel

@{
    ViewData["Title"] = "Exclusão da Reclamação";
}

<h1>@ViewData["Title"]</h1>

<h2>Esta ação será permanente!</h2>

<hr />

<div>
    <dl class="row">
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Morador)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Morador.Nome)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => Model.Descricao)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id"/>
        <input type="submit" value="Excluir" class="btn btn-danger"/>
        <a class="btn btn-primary" asp-action="Index">Voltar</a>
    </form>
</div>
