@using SindTech.App.Extensions
@using SindTech.Business.Models
@model SindTech.App.ViewModels.MoradorViewModel

@{
    ViewData["Title"] = "Exclusão do Morador";
}

<h1>@ViewData["Title"]&nbsp; <span class="text-danger">@Model.Nome</span></h1>

<h2>Esta ação será permanente!</h2>

<hr />

<div>
    <dl class="row">
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.CPF)
        </dt>
        <dd class = "col-sm-6">
            @this.FormataCPF(Model.CPF)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.NumeroApartamento)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.NumeroApartamento)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.TipoMorador)
        </dt>
        <dd class = "col-sm-6">
            @(this.RetornaNomeEnum<TipoMorador>(Model.TipoMorador))
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id"/>
        <input type="submit" value="Excluir" class="btn btn-danger"/>
        <a class="btn btn-primary" asp-action="Index">Voltar</a>
    </form>

    <partial name="_DetalhesContato" />
</div>
