@using SindTech.App.Extensions
@using SindTech.Business.Models
@model SindTech.App.ViewModels.MoradorViewModel

@{
    ViewData["Title"] = "Detalhes do Morador";
}

<h1>@ViewData["Title"]&nbsp; <span class="text-warning">@Model.Nome</span></h1>

<div>
    <dl class="row">
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.CPF)
        </dt>
        <dd class = "col-sm-6">
            @this.FormataCPF(Model.CPF)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.NumeroApartamento)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.NumeroApartamento)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.TipoMorador)
        </dt>
        <dd class = "col-sm-6">
            @(this.RetornaNomeEnum<TipoMorador>(Model.TipoMorador))
        </dd>
    </dl>

    <dl class="row">
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.Contato.TipoContato)
        </dt>
        <dd class = "col-sm-6">
            @(this.RetornaNomeEnum<TipoContato>(Model.Contato.TipoContato))
        </dd>
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.Contato.ValorContato)
        </dt>
        <dd class = "col-sm-6">
            @this.FormataCeluluar(Model.Contato.TipoContato, Model.Contato.ValorContato)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Editar</a> &nbsp;
    <a asp-action="Index" class="btn btn-primary ">Voltar</a>
</div>
